<mat-card>
    <form (submit)="onAddRecord(recordForm)" #recordForm="ngForm">
        <mat-form-field>
            <label> Title </label>
            <input
                matInput
                type="text"
                name="title"
                ngModel
                required
                #title="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field>
                <label> Artist </label>
                <input
                    matInput
                    type="text"
                    name="artist"
                    ngModel
                    required
                    #artist="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field>
                <label> Year </label>
                <input
                    matInput
                    type="text"
                    name="year"
                    ngModel
                    required
                    #year="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field>
                <label> Genre </label>
                <input
                    matInput
                    type="text"
                    name="genre"
                    ngModel
                    required
                    #genre="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field>
                <label> Cover </label>
                <input
                    matInput
                    type="text"
                    name="cover"
                    ngModel
                    required
                    #cover="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field>
                <label> Price </label>
                <input
                    matInput
                    type="number"
                    name="price"
                    ngModel
                    required
                    #price="ngModel">
            </mat-form-field>
            <br>
        <button
        mat-raised-button
        color="accent"
        type="submit">Save Movie</button>
    </form>
</mat-card>
