<mat-card>
    <!--NGform to add record object to DB. All fields must be filled. Fields are then binded to ts variables to be used in an Add function-->
    <form (submit)="onAddRecord(recordForm)" #recordForm="ngForm">
        <mat-card-header>
            <img class="coverImage" mat-card-image src="/assets/Images/file-arrangement-1181769.jpg">
        </mat-card-header>
        <mat-form-field class="formField">
            <label class="label"> Title: </label>
            <input class="input" matInput type="text" name="title" ngModel required #title="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field class="formField">
            <label class="label"> Artist: </label>
            <input class="input" matInput type="text" name="artist" ngModel required #artist="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field class="formField">
            <label class="label"> Year: </label>
            <input class="input" matInput type="text" name="year" ngModel required #year="ngModel">
        </mat-form-field>
        <br>
        <!-- <mat-form-field class="formField">
            <label class="label"> Genre: </label>
            <input class="input" matInput type="text" name="genre" ngModel required #genre="ngModel">
        </mat-form-field>
        <br> -->
        <mat-form-field class="formField">
                <label class="label"> Genre: </label>
                <mat-select class="input" matInput type="text" name="genre" ngModel required #genre="ngModel">
                    <mat-option value="Rock">Rock</mat-option>
                    <mat-option value="Pop">Pop</mat-option>
                    <mat-option value="Reggae">Reggae</mat-option>
                    <mat-option value="Jazz">Jazz</mat-option>
                    <mat-option value="Electronic">Electronic</mat-option>
                    <mat-option value="HipHop">HipHop</mat-option>
                </mat-select>
            </mat-form-field>
            <br>

            <!--****************************-->
        <mat-form-field class="formField">
            <label class="label"> Cover: </label>
            <mat-select class="input" matInput type="text" name="cover" ngModel required #cover="ngModel">
                <mat-option value="assets\Images\blankrecord.jpg">blank cover</mat-option>
                <mat-option value="assets\Images\yellowRecord.jpg">yellow cover</mat-option>
                <mat-option value="assets\Images\orangeRecord.jpg">orange cover</mat-option>
                <mat-option value="assets\Images\greenRecord.jpg">green cover</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="formField">
            <label class="label"> Price: </label>
            <input class="input" matInput type="number" name="price" ngModel required #price="ngModel">
        </mat-form-field>
        <br>
        <br>
        <button class="submitButton" mat-raised-button color="accent" type="submit">Save Record</button>
    </form>

</mat-card>