
<!--uses ngfor to iterate through all objects in DB. displays title and artist of objects. Both icon and text are clickable, to go to view record page-->

<mat-card>
<mat-card-title class="title">Click on item to see full information:</mat-card-title>
<mat-list class="matList" role="list">
    <mat-list-item role="listitem" *ngFor="let record of MyRecords">
            <button mat-button class="viewButton" [routerLink]="['/view-record', record._id]">
                <mat-icon>art_track</mat-icon>
                {{record.title}} - {{record.artist}}
            </button>
    </mat-list-item>
</mat-list>
</mat-card>