<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{myrecord.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{myrecord.artist}}
        </mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="assets\Images\blankrecord.jpg" height="250px">

    <mat-card-content>
        <ul>
            <li>Genre: {{myrecord.genre}}</li>
            <li>Year: {{myrecord.year}}</li>
            <li>Price: {{myrecord.price}}</li>
        </ul>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button [routerLink]="['/update-record', myrecord._id]" color="secondary">UPDATE</button>
        <button mat-raised-button color="warn" (click)="onDeleteRecord(myrecord.id)">DELETE</button>
    </mat-card-actions>

</mat-card>