<mat-card>
    <!--display items in card header. Details got from data binfing from ts file-->
    <mat-card-header>
        <mat-card-title class="title">
            {{myrecord.title}}
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
            {{myrecord.artist}}
        </mat-card-subtitle>
        <img class="coverImage" mat-card-image src="{{myrecord.cover}}">
    </mat-card-header>


    <!--display items in list. bind data from myrecord object from ts file-->
    <!--set the prices to 2 decimal places-->
    <mat-card-content>
        <ul>
            <li>Genre: {{myrecord.genre}}</li>
            <li>Year: {{myrecord.year}}</li>
            <li>Price: €{{myrecord.price | number : '1.2-2'}}</li>
            <li>Price after VAT: €{{priceAfterVat | number : '1.2-2'}}</li>
        </ul>
    </mat-card-content>

    <!--button to go to update-record page. carries id from this page with it, to be used to identify the object you want to update-->
    <mat-card-actions>
        <button mat-raised-button class="updateButton" [routerLink]="['/update-record', myrecord._id]" color="secondary">UPDATE</button>
        <button mat-raised-button class="deleteButton" (click)="onDeleteRecord(myrecord.id)">DELETE</button>
    </mat-card-actions>

</mat-card>