<!--opens form to enter updates. Opens displaying variables so you can see what to update-->

<mat-card>
    <form (submit)="onUpdateRecord(recordForm)" #recordForm="ngForm">
        <mat-form-field>
            <label>Title</label>
            <input matInput type="text" name="title" ngModel={{record.title}} required #title="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field>
            <label>Artist</label>
            <input matInput type="text" name="artist" ngModel={{record.artist}} required #artist="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field>
            <label>Year</label>
            <input matInput type="text" name="year" ngModel={{record.year}} required #year="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field>
            <label>Genre</label>
            <input matInput type="text" name="genre" ngModel={{record.genre}} required #genre="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field class="formField">
            <label class="label"> Cover: </label>
            <mat-select class="input" matInput type="text" name="cover" ngModel required #cover="ngModel">
                <mat-option value="assets\Images\blankrecord.jpg">blank cover</mat-option>
                <mat-option value="assets\Images\yellowRecord.jpg">yellow cover</mat-option>
                <mat-option value="assets\Images\orangeRecord.jpg">orange cover</mat-option>
                <mat-option value="assets\Images\greenRecord.jpg">green cover</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <label>Price</label>
            <input matInput type="number" name="price" ngModel={{record.price}} required #price="ngModel">
        </mat-form-field>
        <br>
        <button mat-raised-button class="updateButton" type="submit">
            Update Record
        </button>
    </form>
</mat-card>