/*import tost css file so that it is global*/
@import '../node_modules/ngx-toastr/toastr.css';

/*general padding for app. Set app font*/
body, html {
    margin: 50px;
    margin-bottom: 50px;
    font-family: Roboto, 'Bookman Old Style';
}